<div id="<%= dom_id purchase %>">
  <p>
    <strong>Item:</strong>
    <%= purchase.item_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= purchase.customer_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= purchase.quantity %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= purchase.purchase_date %>
  </p>

</div>
