<div class="container">

<p style="color: green"><%= notice %></p>

<h1 class="text-center">Customers</h1>

<hr>
<div id="customers">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S.N.</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>

      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <th scope="row"><%= customer.id %></th>
        <td><%= customer.name %></td>
        <td><%= customer.location %></td>
        <td><%= customer.email %></td>
        <td><%= link_to "View", customer_path(customer), class:"btn btn-warning" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>